html{
	font-style: avenir;
	background-color: #1B1C22;
}

body{
	font-family: "arial", "sans serif";
	text-align: justify;
}

nav{
	padding: 20;
	text-align: center;
    background-color: #39D0B2;
}

nav li {
	display: inline;
	list-style: none;
}

nav a{
	text-decoration: none;
	color: #1B1C22;
	font-weight: bold;
	font-size: 12px;
	display:inline-block;
	margin: 0 30px;
}

nav a:hover {
	color: #1B1C22;
	text-decoration: underline;
}

a{
	text-decoration: none;
}

p{
	color: #FCFCFC;
}

h1{
color: #39D0B2
}

h2{
	font-size: 24px;
	font-weight: bold;
  	color: #39D0B2;
}